/*reset*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: normal;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	zoom: 1;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	border: 0;
	table-layout: fixed;
}
/*container*/
body {
	font-size: 14px;
	font-family: "微软雅黑";
}
.box {
	width: 1024px;
	margin: 0 auto;
}
/*header*/
#header {
	height: 55px;
	background: #1A7AB9;
	color: #FFFFFF;
	font-size: 24px;
}
#header h1 {
	width: 100px;
	height: 100%;
	line-height: 55px;
	float: left;
	margin-right: 20px;
}
#header .title {
	float: left;
	height: 100%;
	line-height: 55px;
	font-size: 18px;
}
#header p.mode {
	float: right;
}
#header p.mode a {
	float: left;
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #FFFFFF;
	margin: 15px 5px 8px 0px;
	background: #F4B04F;
	padding: 0px 3px;
}
#header p.mode a.nc {
	background: #E66454;
}
/*左侧栏*/
.container .leftNav {
	font-family: "微软雅黑";
	float: left;
	width: 200px;
	min-height: 500px;
	background: #23272D;
	margin-right: 10px;
}
.leftNav li {
	text-indent: 10px;
}
.leftNav li.active {
	background: #181b1f;
	color: #fff;
}
.leftNav li.active a {
	border-left: 6px solid #1A7AB9;
	color: #fff;
}
.leftNav a {
	padding: 10px 20px 10px 0px;
	line-height: 20px;
	display: block;
	color: #808b9c;
	transition: all .2s;
}
.container {
	margin: 10px auto;
	width: 1576px;
}
.content {
	float: left;
	width: 1360px;
}
/*头部菜单*/
.topMenu {
	background: #f6f6f6;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 6px;
	padding-top: 6px;
	color: #555;
	font-size: 20px;
}
.topMenu li {
	line-height: 28px;
	width: auto;
	margin: 0px 10px 10px 0px;
	border-bottom: 1px solid #ccc;
	padding-right: 3px;
}
.topMenu .i_title {
	margin-right: 3px;
	background: #E0E0E3;
	border: 1px solid #ccc;
}
.topMenu .li_item {
	float: left;
	margin-right: 10px;
}
.li_item .i_title{
	width:auto;
	line-height:28px;
	float:left;
}
.topMenu .inpt_txt {
	float: left;
	line-height:28px;
	padding: 2px 3px;
	display: inline-block;
	width: 150px;
	height: 26px;
}
.topMenu .li_btn {
	display: block;
	width: 50px;
	height: 28px;
	font-size: 14px;
	font-weight: bold;
	cursor:pointer;
}
.topMenu #timeSubmit{
	color:#FFFFFF;
	background:#1A7AB9;
}
.topMenu .changeBtn {
	width: 90px;
	color: #ED8925;
}
.li_ip {
	width: 90%;
}
.li_ip a {
	margin-right: 5px;
	background: #77B7C5;
	padding: 0px 2px;
}
/*模式切换区域*/
.actionArea {
	margin: 10px 0px;
	font-weight: bold;
}
.actionArea .act_title {
	float: left;
	color: #1D89CF;
	margin-right: 5px;
}
.action_ul, .actionDate {
	float: left;
}
.actionArea li {
	float: left;
	width: 50px;
}
.actionArea li.remove a {
	color: #5EBD5E;
}
.actionArea li.add a {
	color: #E66454;
}
.actionArea li.now a {
	color: #1D89CF;
}
.tr_tit {
	background: #c4e9ff;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
}
.tr_tit .h-32 {
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
}
.tr_tit li {
text-indent:10px;
	float:left;
	height: 45px;
	line-height: 45px;
}
.container i, .container cite {
	font-style: normal;
	width: 100%;
}
.tree_content {
	font-size: 12px;
	margin-top: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: #d1d1d1 1px solid;
	width: 100%;
}
.ul_bg {
	background: url("../img/btn_bg_repeat-x.jpg") repeat-x left top;
}
.tree_content li {
	width: 100%;
	line-height: 35px;
	display: block;
}
.tree_content div.col_item {
	display: block;
	float: left;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.col_0 {
	width: 16%;
}
.col_1 {
	width: 22%;
}
.col_2 {
	width: 46%;
}
.col_3 {
	width: 8%;
}
.col_4 {
	width: 6%;
}
.col_5 {
	width: 18%;
}
.col_6 {
	width: 22%;
}
.child_ul{
    float:left;
    width:100%;
float:right;
}

.child_ul li{
    border-bottom:1px solid #ccc;
}
#treeMenu a.jt {
	display: inline-block;
	width: 38px;
	height: 35px;
	overflow: hidden;
	cursor: pointer;
	vertical-align: middle;
}
#treeMenu a.opened {
	background: url(../img/opened.gif) no-repeat 3px 8px;
}
#treeMenu a.closed {
	background: url(../img/closed.gif) no-repeat 3px 8px;
}
#treeMenu a.leaf {
	background: url(../img/leaf.gif) no-repeat 16px 8px;
}
.proc-bar {
    background: none repeat scroll 0 0 #d5c3e5;
	display: block;
    float: left;
	height: 13px;
	margin-top: 5px;
	background: #D5C3E5;
}
.bar_warp {
	float: left;
	width: 78%;
}
.GantBtn {
    background: none repeat scroll 0 0 #ed8925;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 8px 5px 0 0;
    padding: 0 4px;
    width: 30px;
}
.pro_i {
	width: auto;
}
.sortCol {
	cursor: pointer;
}
.container .u_icon, .container .d_icon {
	background: url("../img/add_btn.png") no-repeat;
	display: inline-block;
	width: 7px;
	height: 10px;
}
.container .u_icon {
	background-position: 0 -241px;
	margin-left: 5px;
}
.container .d_icon {
	background-position: -18px -241px;
	margin-left: 5px;
}
#gantDlg {
    width: 1580px;
}
#gantDlg .tree_content {
    background: url("../img/bg.jpg") repeat scroll left top rgba(0, 0, 0, 0);
}
#gantDlg .tr_tit ul {
    height: 32px;
    position: relative;
}
#gantDlg .t1, #gantDlg .t2, #gantDlg .t3, #gantDlg .t4, #gantDlg .t5, #gantDlg .t6, #gantDlg .t7 {
    position: absolute;
}
#gantDlg .t1 {
    left: 0;
    top: 0;
}
#gantDlg .t2 {
    left: 240px;
    top: 0;
}
#gantDlg .t3 {
    left: 480px;
    top: 0;
}
#gantDlg .t4 {
    left: 720px;
    top: 0;
}
#gantDlg .t5 {
    left: 960px;
    top: 0;
}
#gantDlg .t6 {
    left: 1200px;
    top: 0;
}
#gantDlg .t7 {
    left: 1440px;
    top: 0;
}
#gantDlg .col_1 {
    width: 99%;
}
#gantDlg .zk {
    float: left;
    height: 35px;
}
#gantDlg .bar_warp {
    position: relative;
    width: 20%;
}
#gantDlg .bar_warp1 {
    position: relative;
    width: 100%;
}
#gantDlg .proc-bar {
    height: 20px;
    margin-top: 8px;
}
#gantDlg .bar_warp1 .proc-bar {
    background: none repeat scroll 0 0 #74c478;
}
#gantDlg .pro-name {
    font-style: normal;
    left: 0;
    position: absolute;
    right: 0;
}
#gantDlg .child_ul li {
    border-bottom: medium none;
}
.pager {
	padding-top: 17px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-size: 12px
}
.pager input {
	font-size: 12px
}
.scott2 {
	text-align: center
}
.scott2 a {
	border: #d4d1d1 1px solid;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 2px 6px;
	color: #666;
	margin: 0 3px;
	height: 24px;
	cursor: pointer;
	background: #ededed
}
.scott2 a:hover {
	border: #97c8f6 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #666;
	height: 24px;
	text-decoration: none;
	cursor: pointer;
	background: #f8fbfe
}
.scott2 span.current {
	border: #2eadde 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 2px 6px;
	color: #fff;
	margin-right: 3px;
	background-color: #4abde9
}
.scott2 span.disabled {
	font-size: 12px;
	border: #ddd 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 2px 6px;
	color: #ccc;
	margin-right: 8px
}
.page_text {
	margin-right: 10px
}
.go {
	color: #fff;
	background: #aaa;
	border: #888 1px solid;
	width: 30px;
	font-size: 12px;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}
.go:hover {
	border: #999 1px solid
}
.pageInput {
	width: 35px;
	height: 18px;
	text-align: center;
	margin-right: 2px;
	line-height: 18px;
	border: 1px solid #ccc
}
/*柱状图*/
.clmItem {
	float: left;
	width: 400px;
	height: 400px;
	margin: 0px 10px 20px 0px;
	border: 1px solid #CCCCCC;
}
.clmItem.ZW {
	border: 1px solid #FFFFFF;
}
